# Excluded IDE Directories
.idea/
.vs/
.vscode/
.ws/

# Excluded Local/User Directories
_archive/
_misc/
local/
log/
target/

# Excluded Files - Extensions
*.iml
*.png
*.tar.gz
*.url

# Excluded Files - Naming Convention
local-env.*
/venv/
/ws-nexus/_wstemp/
/ws-nexus/whitesource/
/ws-nexus/ua/
/ws-nexus/logs/
/dist/
/nexus_integration.egg-info/
/build/
/logs/
/ws_nexus_integration.egg-info/
/ws_nexus_integration/logs/
/ws_nexus_integration/ua/
