[Nexus Settings]
NexusBaseUrl=
NexusAuthToken=
NexusUser=
NexusPassword=
NexusRepositories=
NexusExcludedRepositories=
NexusAltDockerRegistryAddress=
NexusDockerReposImagesIncludes=

[WhiteSource Settings]
WSUserKey=
WSApiKey=
WSProductName=
WSCheckPolicies=False
WSUrl=https://app.whitesourcesoftware.com
WSLang=

[General Settings]
ThreadCount=1
WorkDir=
JavaBin=
