[Nexus Settings]
NexusBaseUrl= http://URL:8081
NexusAuthToken=
NexusUser=NEXUS_USER
NexusPassword=NEXUS_PASSWORD
NexusRepositories=
#NexusAltDockerRegistryAddress=DOCKER_NEXUS_REGISTRY:30141

[WhiteSource Settings]
WSUserKey=WS_USER_KEY
WSApiKey=WS_TOKEN
WSProductName=Nexus
WSCheckPolicies=False
WSUrl=

[General Settings]
ThreadCount=1
WorkDir=
JavaBin=