[Nexus Settings]
NexusBaseUrl=http://localhost:8081
NexusAuthToken=
NexusUser=admin
NexusPassword=1234
NexusRepositories=raw-ram,nuget-ram,maven-ram
NexusExcludedRepositories=
NexusAltDockerRegistryAddress=
NexusDockerReposImagesIncludes=

[Mend Settings]
WSUserKey=d25abfaf58564afca4134b0f8690c818c6748792c18846649999c0ad302b9bc4
WSApiKey=9389f0704e94427685c7c6d93d02400cb2da1632fc2c47a798c3c304859c2e07
WSProductName=Nexus
WSCheckPolicies=False
WSUrl=https://app.whitesourcesoftware.com
WSLang=

[General Settings]
ThreadCount=1
WorkDir=
JavaBin=
